.logo {
    width: 70px;
}

.card-img-top {
    width: 240px;
    height: auto;
}

.imagem {
    width: 100%;
    height: 200px;
}

.header {
    background: rgb(211 65 255);
    width: 100%;
    margin: 0px;
    text-align: center;
    padding: 5px;
}

.menu_area {
    justify-content: center;
    align-self: center;
}

.nav-item {
    padding: 0 8px
}

.nav-item {
    border-right: 1px solid #000;
}

a.nav-item {
    color: #000;
}

.nav-item a:hover {
    color: rgb(33, 19, 231);
}

.nav-item:last-child {
    border-right: none;
}

button {
    border-color: rgb(170, 170, 170);
    border-right: none;
    border-width: 1px;
    border-radius: 3px;
    background-color: rgb(201, 201, 201);
}

.caixa-pesquisa {
    align-self: center;
}

.container.main {
    margin: 0px;
    padding: 0px;
}

/* Area de destaques */
.secao_destaques {
    background: rgba(231, 230, 230, 0.993);
    padding-bottom: 50px;
}

.carousel-indicators {
    bottom: -3rem;
}

.secao_destaques .destaque {
    width: 100%;
    justify-content: center;
    font-size: 170%;
    padding: 10px;
}

.carousel-indicators li {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-item {
    width: 100%;
}

.row {
    margin: 0px;
}

.descricao .nome-jogo {
    padding: 5px 0px;
    font-size: 130%;
}

.publisher,
.lancamento {
    padding-left: 0px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: none;
}

/* Area de Lançamentos */
.topo-secao {
    padding: 20px 70px;
}

.topo {
    padding-bottom: 10px;
}

.lista-lancamentos .video {
    padding: 10px 5px;
}

.titulo-esquerda {
    font-size: 170%;
}

.dropdown {
    background: white;
    color: black;
}

.video .titulo {
    width: 100%;
}

.data-lancamento {
    padding: 7px 0px 0px 7px;
}

.link-video {
    padding: 0px 0px 0px 7px;
    color: #000;
}

.titulo-esquerda-video {
    text-align: start;
    margin: 0px;
    padding-right: 0px;
    padding-left: 7px;
}

.nota-video {
    text-align: center;
    margin: 0px;
}

.fill img.lancamento {
    height: 230px;
}

/* Plataformas */
.plataformas {
    background: rgba(231, 230, 230, 0.993);
}

.lista-plataforma .plataforma {
    padding: 10px 5px;
}

.titulo-plataforma {
    width: 100%;
}

.link-direita {
    width: 100%;
    color: #000;
    text-align: end;
}

/* Jogo */
.jogo {
    background: rgba(231, 230, 230, 0.993);
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    min-width: 100%;
    min-height: 100%
}

/* footer */

.copyright {
    background: rgba(231, 230, 230, 0.993);
}

.copyright .footer_text {
    align-self: center;
}

.copyright .logo {
    float: right;
}

.list-group-item {
    border: none;
    padding: 5px;
}

.bi-person {
    padding-right: 3px;
}

.redes-sociais-titulo {
    padding: 10px 0px;
    font-size: 120%;
}

.redes-sociais {
    padding-left: 0px;
}

.redes-sociais .fa {
    padding-right: 10px;
    color: #000;
    font-size: 150%;
}

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

/* Media Queries */
@media screen and (max-width:860px) {
    .genero .dropdown {
        display: none;
    }
}

@media screen and (max-width:645px) {
    .popularidade .dropdown {
        display: none;
    }
}

@media screen and (min-width:767px) and (max-width:860px) {
    .nav .nav-item:first-of-type {
        display: none;
    }
}

@media screen and (min-width:576px) and (max-width:670px) {
    .card-img-top {
        width: 200px;
    }
}

@media screen and (max-width:575px) {
    .card-img-top {
        width: 200px;
    }
}

@media screen and (max-width: 767px) {
    .caixa-pesquisa {
        display: none;
    }

    .header {        
        top: 0px;        
        z-index: 999;
        max-width:100%;
    }

    .menu_area {
        display: absolute;
        width: 100%;
        height: 100%;
    }

    .main {
        margin-top: 140px;
    }

    .nav {
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }

    .nav a {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        color: rgb(170, 170, 170);
    }

    .menu-icon {
        width: 50px;
        height: inherit;
        display: block;
        position: absolute;
        right: 30px;
        line-height: 60px;
        color: white;
        z-index: 999;
    }

    #menuToggle:checked~label i:nth-child(2) {
        display: block;
    }

    #menuToggle:checked~label i:first-child {
        display: none;
    }

    #menuToggle:not(:checked)~label i:first-child {
        display: block;
    }

    #menuToggle:not(:checked)~label i:nth-child(2) {
        display: none;
    }

    #menuToggle:checked~nav {
        height: 100%;
    }

    .menu-icon i {
        font-size: 1.7em;
    }
}